# Temel kütüphaneler
numpy==1.26.4
pandas==2.2.1
matplotlib==3.8.3
seaborn==0.13.2
scikit-learn==1.4.2
joblib==1.3.2

# Derin öğrenme
tensorflow==2.15.0
keras==2.15.0

# XGBoost
xgboost==2.0.3

# Görselleştirme
plotly==5.19.0

# Web uygulaması
streamlit==1.32.0

# İstatistiksel testler
scipy==1.12.0
statsmodels==0.14.1

# Model Açıklanabilirliği
shap==0.44.0

# Test
pytest==8.0.2

# Jupyter
jupyter==1.0.0
ipykernel==6.29.3
nbformat==5.10.4

# Diğer yardımcı paketler
tqdm==4.66.2
Pillow==10.2.0
openpyxl==3.1.2

# PyTorch ve TabNet
torch==2.1.2
pytorch-tabnet==4.1.0 